@import url('https://fonts.googleapis.com/css?family=Roboto');
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.cir1{
    height: 200px;
    width: 200px;
    background: linear-gradient(35deg, #a87932, #f0ec0c);
}
.cir2{
    height: 190px;
    width: 190px;
    background: #fff;
}
.cir-over{
    height: 220px;
    width: 220px;
    background: #fff;
    animation: anim 3s linear infinite alternate;
}
@keyframes anim{
    0%{
        transform: translate(-130%,-130%);
    }
    100%{   
        transform: translate(30%,30%);
    }
}
.block{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
}