body {
	background-color: rgba(211, 47, 47, 0.65);
	color: #fff;
	text-align: center;
}

ul {
    display: table;
    list-style: none;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
}
 ul li {
    display: inline-block;
    float: left;
 }

.santaclaus {
    display: block;
	margin: 0 auto;
    max-width: 500px;
}

.santaclaus > div {
	margin: 0 auto;
	max-width: 400px;
}

.santaclaus .chapeu {
    display: block;
    position: relative;
    width: 310px;
    z-index: 99;
}

.santaclaus .chapeu .cone-1 {
    border-left: 50px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 70px solid #D32F2F;
}

.santaclaus .chapeu .cone-2 {
    background-color:  #D32F2F;
    border-top: 0px solid transparent;
    border-right: 340px solid #D32F2F;
    border-bottom: 100px solid transparent;
    border-color: transparent;
    box-shadow: -25px 15px 30px -5px rgba(1,1,1,0.3);
    position: relative;
    left: -56px;
    top: 49px;

    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);

    -webkit-border-radius: 30% 100% 0 100%;
    -moz-border-radius: 30% 100% 0 100%;
    border-radius: 30% 100% 0 100%;
}

.santaclaus .chapeu::after,
.santaclaus .chapeu::before {
	background-color: #fff;
	content: " ";
	display: block;
}

.santaclaus .chapeu::after {
	box-shadow: 0px -15px 40px -5px rgba(1,1,1,0.4);
    height: 80px;
    margin-left: -15px;
    position: relative;
    width: 340px;

    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    border-radius: 0.8em;
}

.santaclaus .chapeu::before {
	box-shadow: 20px 20px 40px -5px rgba(1,1,1,0.3);
    height: 80px;
    left: -120px;
    position: absolute;
    top: 80px;
    width: 80px;
    z-index: 111;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.santaclaus .face {
    background-color: #ffccbc;
    box-shadow: 0px 0px 30px 5px rgba(1,1,1,0.3);
    content: " ";
    display: block;
    height: 130px;
    position: relative;
    top: -10px;
    width: 300px;
}

.santaclaus > .orelhas {
    background-color: #eea2ad;
    box-shadow: 0px 0px 30px 5px rgba(1,1,1,0.3);
    display: block;
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: -125px;
    width: 330px;
    z-index: -1;

    -webkit-border-radius: 1em 1em 2em 2em;
    -moz-border-radius: 1em 1em 2em 2em;
    border-radius: 1em 1em 2em 2em;
}

.santaclaus .face > .eyes {
	display: inline-block;
	height: 0px;
	margin: 20px auto 0;
	max-width: 160px;
	width: 100%;
}

.santaclaus .face > .eyes::before,
.santaclaus .face > .eyes::after {
	background-color: #111;
	content: " ";
	display: inline-block;
	float: left;
	height: 20px;
	width: 20px;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.santaclaus .face > .eyes::after {
	float: right;
}

.santaclaus .face > .nariz {
	background-color: #EEA2AD;
	height: 50px;
	margin: 0 auto;
	position: relative;
	width: 70px;
	z-index: 111;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.santaclaus .face > .barba {
    background-color: #ecf0f1;
    box-shadow: -10px 10px 10px -5px rgba(1,1,1,0.3);
    height: 240px;
    margin: 0 auto;
    position: relative;
    top: -30px;
    width: 340px;
    left: -20px;

    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);

    -webkit-border-radius: 0% 100% 70% 100%;
    -moz-border-radius: 0% 100% 70% 100%;
    border-radius: 0% 100% 70% 100%;

    -webkit-animation: animaBarba 1.6s ease-in-out infinite alternate;
    -moz-animation: animaBarba 1.6s ease-in-out infinite alternate;
    animation: animaBarba 1.6s ease-in-out infinite alternate;
}

.santaclaus .face > .barba > .boca {
    height: 50px;
    left: 30px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    width: 60px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-animation: hoho 1.6s ease-in-out infinite alternate;
    -moz-animation: hoho 1.6s ease-in-out infinite alternate;
    animation: hoho 1.6s ease-in-out infinite alternate;
}
