body{
	background: #00ffff;
}
#torch_body{
	position: absolute;
	top: 300px;
	left: 10px;
	height: 5.0em;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;	
	width: 300px;
	background: linear-gradient(to bottom, #c0c0c0,#a9a9a9,#a9a9a9,#555);

}
.torch_upper{
	position: absolute;
	overflow: hidden;
	top: 270px;
	left: 250px;
	margin: 0 3em;
	z-index: 10;
	width: 10em;
	height: 8.66em;
	transform: rotate(-30deg) skewX(30deg);
  }
  .torch_upper::before {
	display: block;
	background: linear-gradient(to left,#c0c0c0,#c9c9c9,#a9a9a9,#555);
	content: '';
	width: inherit; height: 50%;
	transform: skewX(-30deg) rotate(-60deg) translate(-1.25em);
  }
.button{
	position: relative;
	top: 18%;
	left: 30%;
	border: 5px solid #444;
	height: 30px;
	cursor: pointer;
	padding: 5px;
	width: 80px;
	border-radius: 50px;
}
#button_circle{
	position: relative;
	height: 30px;
	width: 30px;
	box-shadow: 0 0 15px 0px #000;
	border-radius: 80px;
	background: #444;
}
.moveR{
	animation: rgt 0.3s ease-out forwards;
}
.moveL{
	animation: lft 0.3s ease-out forwards;
}
@keyframes rgt{
	0%{
		left: 0px;
	}
	100%{
		left: 50px;
		background: rgb(6, 230, 24);
		box-shadow: 0 0 15px 2px rgb(7, 180, 30);
	}
}
@keyframes lft{
	0%{
		left: 50px;		
		background: rgb(6, 230, 24);
		box-shadow: 0 0 15px 0px rgb(7, 180, 30);
	}
	100%{
		left: 0px;
	}
}
.torch_shadow{
	position: absolute;
	top: 450px;
	left: 50px;
	height: 20px;
	width: 300px;
	background: #333;
	border-radius: 100%;
	box-shadow: 0 0 20px 20px #333333;
}
.screen{
	position: absolute;
	height: 500px;
	width: 200px;
	background: #fff;
	box-shadow: 3px 3px 10px 2px #000;
	top: 100px;
	transform: skew(0,-20deg);
	left: 500px;
}
.light_spot{
	position: relative;
	height: 100px;
	top: 180px;
	left: 80px;
	width: 40px;
	border-radius: 100%;
	background: #f8c377;
	box-shadow: 0 0 75px 75px #f8c377;
}
.light_out{
	position: absolute;
	height: 130px;
	width: 2px;
	background: #f8c377;
	box-shadow: 0 0 20px 20px #f8c377;
	border-radius: 100%;
	top: 275px;
	z-index: 9;
	left: 380px;
}