*{
    padding: 0;
    margin: 0;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rot 2s ease infinite forwards;
}
@keyframes rot{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.outer{
    height: 200px;
    width: 200px;
    background: linear-gradient(15deg, #342fa8,#66bfe2);
}
.inner{
    height: 180px;
    width: 180px;
    background: #fff;
}
.boxes{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}
.overlay{
    position: relative;
    background: #ffffff;
    height: 100px;
    width: 200px;
}